@use "sass:map";

// Colors
$black-0: rgba(0 ,0 ,0, 0);
$black-1: rgba(0 ,0 ,0, 0.01);
$black-3: rgba(0 ,0 ,0, 0.03);
$black-10: rgba(0 ,0 ,0, 0.1);
$black-20: rgba(0 ,0 ,0, 0.2);
$black-40: rgba(0 ,0 ,0, 0.4);
$black-50: rgba(0 ,0 ,0, 0.5);
$black-80: rgba(0 ,0 ,0, 0.8);
$black-100: rgba(0 ,0 ,0, 1);

$white-0: rgba(255, 255, 255, 0);
$white-2: rgba(255, 255, 255, 0.02);
$white-5: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-100: rgba(255, 255, 255, 1);

$dark-background: #101519;
$lcd-color: #BAC1AF;

$hues: (
  "blue": rgba(0, 159, 227, 1),
  "cyan": rgba(0, 161, 155, 1),
  "green": rgba(158, 224, 3, 1),
  "magenta": rgba(232, 28, 115, 1),
  "mauve": rgba(133, 81, 156, 1),
  "orange": rgba(255, 62, 0, 1),
  "purple": rgba(108, 0, 93, 1),
  "red": rgba(228, 0, 17, 1),
  "yellow": rgba(253, 234, 17, 1),
);

$darks: (
  "blue": rgba(0, 132, 188, 1),
  "cyan": rgba(0, 122, 118, 1),
  "green": rgba(130, 185, 0, 1),
  "magenta": rgba(193, 0, 82, 1),
  "mauve": rgba(125, 57, 156, 1),
  "orange": rgba(195, 48, 0, 1),
  "purple": rgba(70, 0, 60, 1),
  "red": rgba(151, 0, 11, 1),
  "yellow": rgba(214, 197, 0, 1),
);

$highlights: (
  "blue": rgb(76,201,255, 1),
  "cyan": rgba(29,199,192, 1),
  "green": rgba(191, 255, 41, 1),
  "magenta": rgba(255, 69, 148, 1),
  "mauve": rgba(219, 189, 232, 1),
  "orange": rgba(255, 141, 105, 1),
  "purple": rgba(184, 54, 165, 1),
  "red": rgba(255, 105, 116, 1),
  "yellow": rgba(255, 244, 131, 1),
);

$highlights-40: (
  "blue": rgb(76, 201, 255, 0.4),
  "cyan": rgba(29, 199, 192, 0.4),
  "green": rgba(191, 255, 41, 0.4),
  "magenta": rgba(255, 69, 148, 0.4),
  "mauve": rgba(219, 189, 232, 0.4),
  "orange": rgba(255, 141, 105, 0.4),
  "purple": rgba(184, 54, 165, 0.4),
  "red": rgba(255, 105, 116, 0.4),
  "yellow": rgba(255, 244, 131, 0.4),
);

$shadows: (
  "blue": #006995,
  "cyan": #005351,
  "green": #679200,
  "magenta": #9A0041,
  "mauve": #3B114E,
  "orange": #9C2600,
  "purple": #1F001B,
  "red": #700008,
  "yellow": #AFA100,
);

$normal-button: (
  "blue":
    (
    linear-gradient(135deg, map.get($hues, "blue"), map.get($highlights, "blue")),
    ),
  "cyan":
    (
    linear-gradient(135deg, map.get($hues, "cyan"), map.get($highlights, "cyan")),
    ),
  "green":
    (
    linear-gradient(135deg, map.get($hues, "green"), map.get($highlights, "green")),
    ),
  "magenta":
    (
    linear-gradient(135deg, map.get($hues, "magenta"), map.get($highlights, "magenta")),
    ),
  "mauve":
    (
    linear-gradient(135deg, map.get($hues, "mauve"), map.get($highlights, "mauve")),
    ),
  "orange":
    (
    linear-gradient(135deg, map.get($hues, "orange"), map.get($highlights, "orange")),
    ),
  "purple":
    (
    linear-gradient(135deg, map.get($hues, "purple"), map.get($highlights, "purple")),
    ),
  "red":
    (
    linear-gradient(135deg, map.get($hues, "red"), map.get($highlights, "red")),
    ),
  "yellow":
    (
    linear-gradient(135deg, map.get($hues, "yellow"), map.get($highlights, "yellow")),
    ),
);

$lit-up-button: (
  "blue":
    (
    linear-gradient(135deg, map.get($hues, "blue"), map.get($highlights-40, "blue")),
    radial-gradient($white-100, map.get($highlights, "blue"), map.get($hues, "blue"), map.get($darks, "blue"))
    ),
  "cyan":
    (
    linear-gradient(135deg, map.get($hues, "cyan"), map.get($highlights-40, "cyan")),
    radial-gradient($white-100 10%, map.get($highlights, "cyan"), map.get($hues, "cyan"), map.get($darks, "cyan"))
    ),
  "green":
    (
    linear-gradient(135deg, map.get($hues, "green"), map.get($highlights-40, "green")),
    radial-gradient($white-100 10%, map.get($highlights, "green"), map.get($hues, "green"), map.get($darks, "green"))
    ),
  "magenta":
    (
    linear-gradient(135deg, map.get($hues, "magenta"), map.get($highlights-40, "magenta")),
    radial-gradient($white-100 10%, map.get($highlights, "magenta"), map.get($hues, "magenta"), map.get($darks, "magenta"))
    ),
  "mauve":
    (
    linear-gradient(135deg, map.get($hues, "mauve"), map.get($highlights-40, "mauve")),
    radial-gradient($white-100 10%, map.get($highlights, "mauve"), map.get($hues, "mauve"), map.get($darks, "mauve"))
    ),
  "orange":
    (
    linear-gradient(135deg, map.get($hues, "orange"), map.get($highlights-40, "orange")),
    radial-gradient($white-100 10%, map.get($highlights, "orange"), map.get($hues, "orange"), map.get($darks, "orange"))
    ),
  "purple":
    (
    linear-gradient(135deg, map.get($hues, "purple"), map.get($highlights-40, "purple")),
    radial-gradient($white-100 10%, map.get($highlights, "purple"), map.get($hues, "purple"), map.get($darks, "purple"))
    ),
  "red":
    (
    linear-gradient(135deg, map.get($hues, "red"), map.get($highlights-40, "red")),
    radial-gradient($white-100 10%, map.get($highlights, "red"), map.get($hues, "red"), map.get($darks, "red"))
    ),
  "yellow":
    (
    linear-gradient(135deg, map.get($hues, "yellow"), map.get($highlights-40, "yellow")),
    radial-gradient($white-100 10%, map.get($highlights, "yellow"), map.get($hues, "yellow"), map.get($darks, "yellow"))
    ),
);

// Measurements
$gap-width: 1.75rem; // 28 px
$hairline-width: 0.0625em;// 1 px
$border-width: 0.125rem;// 2 px
$button-border-radius: 0.3125rem; // 5 px
$machine-border-radius: 0.625rem;//10 px
$column-width: 5rem; // 80 px