@import 'variables.scss';
@import 'mixins.scss';
@import 'typography.scss';

#drum-machine {
  // Positioning
  z-index: 1;
  // Display and Box Model
  background-color: $white-2;
  border-radius: $machine-border-radius;
  border-top-color: $white-10;
  border-left-color: $white-10;
  border-bottom-color: $black-20;
  border-right-color: $black-20;
  border-style: solid;
  border-width: $border-width;
  box-shadow: 0 1.25rem 0 $black-80;
  display: grid;
  gap: $gap-width;
  grid-template-areas:
    'name'
    'controls'
    'pad-bank';
  height: auto;
  padding: $gap-width;
  width: calc((#{$column-width} * 3) + (#{$gap-width} * 5));
  // Typography
  // Other
  background-image:
    repeating-linear-gradient($black-20 0%, $black-0 3%, $black-10 6.1%),
    repeating-linear-gradient($black-0 1%, $black-0 4.5%, $black-3 5.3%),
    repeating-linear-gradient($black-0 0%, $black-0 1.2%, $black-20 2.2%),
    linear-gradient($black-50  0%, $black-20 47%, $black-50 53%, rgb(0, 0, 0, 0.7) 100%);

  #name {
    // Positioning
    // Display and Box Model
    align-items: center;
    display: flex;
    grid-area: name;
    justify-content: center;
    // Typography
    color: $white-100;
    font-family: $font-stack-futuristic;
    font-weight: 900;
    text-shadow:
      0px calc(#{$hairline-width} * (-1)) 0px $black-100, // shadow
      0px $hairline-width 0px $white-40; // highlight
    // Other
  }

  #controls {
    // Positioning
    // Display and Box Model
    grid-area: controls;
    // Typography
    // Other

    #display {
      // Positioning
      position: relative;
      // Display and Box Model
      background-color: $lcd-color;
      border-radius: $button-border-radius;
      box-shadow: // black frame around the display
        inset calc(#{$gap-width} / 2) calc(#{$gap-width} / 2) 0 $black-100,
        inset calc(#{$gap-width} / 2 * (-1)) calc(#{$gap-width} / 2 * (-1)) 0 $black-100,
        inset calc(#{$gap-width} / 2) calc(#{$gap-width} / 2 * (-1)) 0 $black-100,
        inset calc(#{$gap-width} / 2 * (-1)) calc(#{$gap-width} / 2) 0 $black-100;
      min-height: $column-width;
      padding: $gap-width;
      // Typography
      font-family: $font-stack-futuristic;
      font-weight: 900;
      text-transform: uppercase;
      // Other

      &:before { // indent
        // Positioning
        bottom: -2px;
        left: -2px;
        position: absolute;
        top: -2px;
        right: -2px;
        z-index: -1;
        // Display and Box Model
        background-color: $black-100;
        border-style: solid;
        border-color: $black-100;
        border-radius: 0.375rem; // 6px
        border-width: $border-width;
        outline: $white-2 solid $border-width;
        // Typography
        // Other
        content: '';
      }

      &:after { // reflection
        // Positioning
        bottom: 0px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        // Display and Box Model
        background: linear-gradient(135deg, $white-40 0% 40%, $white-0 40% 90%);
        border-radius: 0.25rem; // 4 px
        // Typography
        // Other
        content: '';
      }
    }

    #power {

    }

    #volume {

    }

  }

  #pad-bank {
    // Positioning
    // Display and Box Model
    display: grid;
    gap: $gap-width;
    grid-area: pad-bank;
    grid-template-columns: repeat(auto-fit, minmax($column-width, 1fr));
    grid-template-rows: auto;
    height: auto;
    // Typography
    // Other

    .drum-pad {
      // Positioning
      position: relative;
      // Display and Box Model
      align-items: center;
      border-style: solid;
      border-radius: $button-border-radius;
      border-width: $border-width;
      display: flex;
      justify-content: center;
      height: $column-width;
      // Typography
      font-family: $font-stack-futuristic;
      font-weight: 900;
      // Other
      cursor: pointer;

      &:before { // indent
        // Positioning
        bottom: -10px;
        left: -4px;
        position: absolute;
        top: 2px;
        right: -4px;
        z-index: -1;
        // Display and Box Model
        background-color: $black-80;
        border-style: solid;
        border-color: $black-80;
        border-radius: 0.375rem; // 6 px
        border-width: $border-width;
        outline: $white-2 solid $border-width;
        // Typography
        // Other
        content: '';
      }

      &:active {
        // Positioning
        position: relative;
        top: 6px;
        // Display and Box Model
        // Typography
        // Other

        &:before {
          // Positioning
          bottom: -4px;
          top: -4px;
          // Display and Box Model
          // Typography
          // Other
        }
      }

      @include drum-pad-color('red');
      @include drum-pad-color('orange');
      @include drum-pad-color('yellow');
      @include drum-pad-color('cyan');
      @include drum-pad-color('blue');
      @include drum-pad-color('green');
      @include drum-pad-color('purple');
      @include drum-pad-color('magenta');
      @include drum-pad-color('mauve');
    }
  }
}